<div class="custom-modal" id="notificationModal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="closeModal">&times;</span>
      <span>New Video</span>
    </div>
    <div class="modal-body">
      <span>A very excited Video with title</span>
      <strong id='title-video'></strong>
      <span>have shared by</span>
      <strong id='email-who-share'></strong>
    </div>
    <div class="btn btn-default btn-check-it-out">
      <a href=''>Check it out</a>
    </div>
  </div>
</div>
