<div class="custom-modal" id="notificationModal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="closeModal">&times;</span>
      <span>New Video</span>
    </div>
    <div class="modal-body">
    </div>
  </div>
</div>
